.landing_section{
    /* position: relative; */
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

video{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50%;left:50%;
    min-width:100%; max-width:100%;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
    opacity: 85%;
    object-fit: fill;
    z-index: -2;
}


.top-land {
    width: 100%;
    font-weight: 900;
    font-size: 80px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.top-land h1 {
    color: white;
    font-weight: 900;
}

.top-land h1 span {
    color: darkorange;
}

.top-land h2 {
    color: white;
    font-weight: 900;
}

.middle-land {
    display: flex;
    justify-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 80px;
    top: 50vh;
    text-align: right;
}

.houses-btn {
    padding: 15px 0;
    margin: 0 10px;
    width: 200px;
    border: none;
    background-color: darkorange;
    border-radius: 25px;
    color: black;
    border: 2px solid darkorange;
    border-radius: 25px;
    transition: background 0.5s;
    font-weight: 900;
    font-size: x-large;
}

.houses-btn:hover {
    background: transparent;
    border: 2px solid white;
    color: white;
}

.bottom-land {
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 0 4%;
    font-weight: 900;
    font-size: 2.5rem;
}



/* .overlay{
    position: absolute;
    top:0; left:0;
    z-index: 1;
    object-fit: fill;
}

.landingpage_text1 {
    text-align: center;
    padding: 80px;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
    position: absolute;
    top: 50px;
    left: 380px;
    color: white;
}

.landingpage_text1:hover{
    color: "red" !important;
    font-size: 99px;
}

.landingpage_text1 h1 span{
    color: #6f73d2;
}

#hd1{
    color: #6f73d2;
}

.landingpage_text2{
    position: absolute;
    top: 28vh;
    left: 45%;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    color: white;
}

.landingpage_text2:hover{
    cursor: pointer;
}

.buy_house_button,
.rent_house_button,
.sell_house_button{
    width: 20%;
    padding: 15px;
    margin: 0 15px;
    font-weight: bold;
    text-align: center;
    color: white;
    border: none;
    background-color: #6f73d2;
}

.landingpage_buttons{
    width: 100%;
    height: fit-content;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 390px;
    left: 450px;
    font-weight: bold;
}

.buy_house_button:hover,
.rent_house_button:hover,
.sell_house_button:hover{
    background: transparent;
}

.text_align{
    text-align: center;
    position: absolute;
    top: 550px;
    left: 25%;
    font-size: x-large;
    color: white;
} */

.scroll_down_image_container{
    width: 100%;
    height: 30vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90px;
}

#scroll_down_icon{
    width: 50px;
    height: auto;
    color: white;
    animation: 1.1s scroll infinite alternate;
    position: absolute;
    top: 600px;
    left: 50%;
    cursor: pointer;
}

@keyframes scroll {
    0%{
        transform: translateY(10px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(10px);
    }
}

/* @media screen  and (max-width: 1212px) {
    .landing_section {
        height: 850px;
    }
}

@media screen and (max-width: 1212px) {
    .landingpage_text1{
        height: 850px;
        width: 200px;
    }
}

@media screen and (max-width: 806px) {
    .landing_section {
        height: 1390px;
    }
    .landingpage_buttons{
        min-width: 250px;
    }
} */