.about {
    margin-top: 3px;
    display: flex;
    font-size: 23px;
    padding: 4px;
    text-align: center;
    background: linear-gradient(to right, hsl(229, 73%, 37%) 0, hsl(175, 88%, 48%) 100%, hsl(197, 70%, 44%) 3%);
}

h1 {
    background: url(https://raw.githubusercontent.com/s1mpson/-/master/codepen/black-lives-matter/victim-collage.png);
    background-size: 20%;
    background-position: 50% 50%;
    -webkit-background-clip: text;
    color: hsla(0, 0%, 0%, 0.08);
    animation: zoomout 10s ease 500ms forwards;
    font-size: 70px;

}





.content {
    font-size: 20px;
    padding: 24px;
    text-align: center;
    width: 50%;
    height: 68vh
}

/* span {
    color: crimson;
    text-align: center;
} */

.about-img {
    /* position: relative; */
    /* background-image: url(); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    margin: 4px;
    /* height: 400px; */
    width: 50%;
}