.about {
    margin-top: 3px;
    margin-bottom: 0;
    display: flex;
    font-size: 23px;
    height: 82vh;
    padding: 4px;
    text-align: center;
    align-items: center;
    background: linear-gradient(to right, hsl(229, 73%, 37%) 0, hsl(175, 88%, 48%) 100%, hsl(197, 70%, 44%) 3%);
    /* position: relative; */

    
}

h5 {
    color: hsla(262, 95%, 41%, 0.08);
    font-size: 80px;

}


.content {
    font-size: 20px;
    padding: 24px;
    text-align: center;
    width: 50%;
    /* height: 68vh */
}

span {
    color: crimson;
    text-align: center;
}

.about-img {
    /* position: relative; */
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    margin: 4px;
    /* height: 400px; */
    width: 50%;
}

.about-image {
    width: 100%;
}