/* .about {
    margin-top: 3px;
    margin-bottom: 0;
    
    font-size: 23px;
    height: 82vh;
    padding: 4px;
    text-align: center;
    align-items: center; */
    /* background: linear-gradient(to right, hsl(24, 73%, 37%) 0, hsl(32, 29%, 66%) 100%, hsl(24, 97%, 47%) 3%); */
    /* position: relative; */

    
/* }

.content h1 { */
    /* color: hsla(262, 95%, 41%, 0.08); */
    /* font-size: 70px;
    color: #F18F01; */
/* background: url(https://raw.githubusercontent.com/s1mpson/-/master/codepen/black-lives-matter/victim-collage.png); */
/* }


.content {
    font-size: 20px;
    padding: 24px;
    text-align: center;
    width: 100%; */
    /* height: 68vh */
/* }

 span {
    color: #F18F01;
    text-align: center;
} 

.about-img { */
    /* position: relative; */
    /* background-image: url(); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    margin: 4px; */
    /* height: 400px; */
    /* width: 50%;
} */
:root{
    --primary-color:#006e90;
    --secondary-color: #f18f01;
}
.about{
    width: 100%;
    margin-top: 80px;
}
.about-img img{
    height: 40rem;
    width: 100%;
    opacity: 0.7;
}
.about-img-overlay{
    position: relative;
    bottom: 25rem;
    text-align: center;
}
.about-img-overlay h1{
    color:var(--secondary-color);
    font-weight: 900;
    font-size: 5rem;
}
.about-img-overlay p{
    color: white;
    font-weight: 900;
    font-size: 2.5rem;
}
.vision{
    display: flex;
    position: relative;
    bottom: 10rem;
    left: 15rem;
    height: 30rem;
}
.vision p{
    font-size: 1.5rem;
    width: 30%;
    margin-left: 70px;
}
.vision span{
    text-align: center;
    margin-left: 10rem;
    font-size: 2rem;
    font-weight: 900;

}
.aim{
    display: flex;
    position: relative;
    left: 15rem;
    margin-bottom: 30px;
    
}
.aim p{
    font-size: 1.5rem;
    width: 30%;
    margin-right: 70px;
    margin-top: 0px;
    
}
.aim span{
    text-align: center;
    margin-left: 10rem;
    font-size: 2rem;
    font-weight: 900;
}
