@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Poppins:wght@100;300;400;500;600;700&display=swap');

body{
    margin: 0;
}
                                         /* Navbar */
/* 
#header{
   position: relative;
   right: 17rem;
   font-family: 'Forum', cursive;
   font-size: 3rem;
   font-weight: 700;  
} */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content:space-between;
    /* border-bottom: 2px solid ; */
    backdrop-filter: blur(2px);
    height: 70px;  
    align-items:center;
    background-color: transparent;
    z-index: 2;
    /* overflow: hidden; */
    font-family: 'Poppins';
    padding: 0 3%;
}

.left-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.left-nav img {
    width: 50px;
    height: 40px;
    display: none;
}

.navlink {
    color: black;
    text-decoration: none;
}

#header {
    font-size: 40px;
    font-weight: 600;
    color: orange;
}

.container1-nav {
    margin-right: 10px;
}

.container1-nav .navlink {
    margin: 0 10px;
    color: black;
    font-size: 18px;
}

#home-icon {
    margin-right: 30px;
}

#about-icon {
    margin-right: 30px;
}

#navButton {
    padding: 10px 30px;
    background-color: darkorange;
    font-size: 18px;
    color: black;
    border: none;
    border-radius: 10px;
}

.right-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.menu {
    cursor: pointer;
    display: none;
    padding: 10px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    border-radius: 10px;
    transition: all 0.5s;
}

.menu.clicked .bar:nth-child(1) {
    transform: translateY(8px) rotate(-135deg);
}

.menu.clicked .bar:nth-child(2) {
    opacity: 0;
}

.menu.clicked .bar:nth-child(3) {
    transform: translateY(-8px) rotate(135deg);
}

.bar:nth-child(2) {
    margin: 5px 0;
}


@media screen and (max-width:800px) {
    .menu {
        display: block;
    }

    .middle-nav {
        position: absolute;
        top: 70px;
        right: -80%;
        width: 40%;
        min-width: 300px;
        height: calc(100vh - 70px);
        background-color: rgb(0, 0, 0);
        color: white;
        transition: all 0.5s;
    }

    .middle-nav.active {
        right: 0;
    }

    .container1-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: 30px;
        text-align: center;
    }

    .container1-nav .navlink {
        color: white;
    }
}

@media screen and (max-width: 510px) {
    #header {
        font-size: 20px;
    }
}



/* .navlink{ */
    /* position: relative; */
    /* right:rem; */
    /* text-decoration:none; */
    /* color: #6F73D2; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-size:1.5rem; */
    /* font-weight: 600; */
/* } */
/* .navlink:hover{
    color: #9597e8;
}

.navlink:focus{
    text-decoration: underline;
    text-decoration-color: #6F73D2;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
}

.container1-nav{
    width: 20%;
    display: flex;
    justify-content:space-between;
    position: relative;
    right: 13rem;
}

#navButton{
    position: relative;
    right: 3rem;
    width: 10rem;
    height: 3.5rem;
    background-color: #6F73D2;
    border: solid 1px #6F73D2;
    color: white;
    font-size: 1rem;
    font-weight: 900;
    font-family:'Poppins', sans-serif;
    
}

#navButton:hover{
    background-color: #9597e8;
}

#navButton:focus{
    background-color: #7274f7;
    font-family:'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 900;
}

#nopage{
   text-align: center;
}
[alt=house]{
    height:4rem;
    width:5rem;
} */