@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Poppins&display=swap');
/* .footer{
    font-family:'Tangerine' , cursive;
    color: #fff;
    display: flex;
    background-color: #7e82e7;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center; */
    /* min-height: calc(10vh - 95px);*/
    /* min-height: 100vh; */
    /* flex-direction: column;
    margin-top: auto; */
    /* position: absolute;
    bottom: 0px; */
    /* text-decoration: underline;
}
h2{
    font-family: 'Tangerine', cursive;
    text-decoration: underline;
    
} */
/* h1:hover{
        background-color: rgb(52, 167, 193);
} */


/* p:hover{
    background-color: rgb(21, 105, 157);
}*/ 
/* .hide-Footer{
    display: none;
} */
/* .section1{
    font-family: sans-serif;
    color: #fff;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center !important;
    padding: 2px;
    gap: 25px;
    display: flex !important;
    margin-left: 2px;
    text-decoration: underline;
} */
/* .section2 {
    font-family: sans-serif;
    color: #fff;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center !important;
    padding: 2px;
    margin-bottom: 2px;
    gap: 25px;
    display: flex !important;
    margin-left: 2px;
} */
:root{
    --primary-color:#006e90;
    --secondary-color: #f18f01;
}
footer{
    
	background-color: var(--primary-color);
	color: white;
    max-width: 100%;
    padding-top: 10px;
    margin-top: 15%;
}
.footer{
    display: flexbox;
}
.footer-links{
    display: grid;
    grid-template-columns: 0.25fr repeat(1, 0.2fr) 0.2fr;
    /* padding-left: 80px; */
    /* gap: 1rem; */
    position: relative;
    left: 20rem;
    font-size: larger;
}
.footer-header{
    margin-left: 20px;
    text-align: left;

}
li{
    list-style: none;
    font-family: inherit;
}
.contact-links ul{
    display:flex;
    /* margin-left: 10rem;
    position: relative;
    align-items: center; */
    text-align: center;
    justify-content: center !important;
}
.contact-links li{
    padding-left: 15px;
    font-size: xx-large;
}
.end{
    text-align: center;
}