@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Poppins&display=swap');
.footer{
    font-family:'Tangerine' , cursive;
    color: #fff;
    display: flex;
    background-color: #7e82e7;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* min-height: calc(10vh - 95px);*/
    /* min-height: 100vh; */
    flex-direction: column;
    margin-top: auto;
    position: absolute;
    bottom: 0px;
    text-decoration: underline;
}
h2{
    font-family: 'Tangerine', cursive;
    text-decoration: underline;
    
}
h1:hover{
        background-color: rgb(52, 167, 193);
}


p:hover{
    background-color: rgb(21, 105, 157);
}
.section1{
    font-family: sans-serif;
    color: #fff;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center !important;
    padding: 2px;
    gap: 25px;
    display: flex !important;
    margin-left: 2px;
    text-decoration: underline;
}
.section2 {
    font-family: sans-serif;
    color: #fff;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center !important;
    padding: 2px;
    margin-bottom: 2px;
    gap: 25px;
    display: flex !important;
    margin-left: 2px;
}