/* .App {
    text-align: center;
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: center;
    color: white;
    top: opx;
    background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
  
} */

.seller{
    min-height: 100vh;
    background-color: #006e90;
    position: relative;
    max-width: 100vw;
    display: flex;
    text-align: center;


}
.image-url{
    padding-left: 20%;
    flex-direction: row;
    height: 100%;
}

.register-form {
    text-align: center;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    background-color: #006e90;

}
 .auth-form-container,
.login-form,
.register-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding:20px ;
   
}

@media screen and (min-width: 800px) {
    .auth-form-container {
        padding: 5rem;
        border: 1px solid white;
        border-radius: 10px;
        margin: 0.5rem;
    
   
    }
}

label {
    text-align: left;
    padding: 0.25rem 0;
}

input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

 button {

    
    border: none;
    font-size: 23px;
    background-color: #7b6fd2;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    max-width: 30%;
    
} 

.link-btn {
    background: none;
    color: white;
    text-decoration: underline;
}
 

.cover-container-displayz{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    background-color: #F18F01; 
} 

.card-login-display{
    box-shadow: rgba(27, 27, 211, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 40px;
    position: relative;
    
}
.seller image{
    position: relative;
}

.card-login-display button{
border: none;
    font-size: 23px;
    background-color: #7b6fd2;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    max-width: 20%;
}

.cont_1{
    display: flex;
    justify-content: between-around;
    position: relative;
    right: 180px;
}

.const_2{
    display: flex;
    justify-content: between-around;
    position: relative;
    right: 180px;
}
.const_3{
    display: flex;
        justify-content: between-around;
        position: relative;
        right: 180px;
}
.const_4{
    display: flex;
    justify-content: between-around;
    position: relative;
    right: 180px;
}
.const_5{
    display: flex;
    justify-content: between-around;
    position: relative;
    right: 180px;
}
.const_6{
   
    position: relative;
    right: 200px;
}
