@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.seller {
    min-height: 100vh;
    background-color: #F18F01;
    position: relative;
    max-width: 100vw;
    display: flex;
    text-align: center;
    color: #F18F01;


}

.image-url {
    padding-left: 20%;
    flex-direction: row;
    height: 100%;
}

.register-form {
    text-align: left;
    display: flex;
    flex-direction: column;
     /* background-color: #89bce9; */
    padding: 30px 0;
    border-radius: 20px ;
    height: 70rem;
    border: solid 3px black;
    /* opacity: 0.9; */
    box-shadow: 5px 5px 5px  #898585;
}

.register-form:hover{
    box-shadow: 10px 10px 5px  #bdbcbc;
    opacity: 1;
}
.auth-form-container
 {
    display: flex;
    flex-direction: column;
    width: 60rem; 
    position: relative;
    left: 27rem;

}
.auth-form-container h1{
    text-align: center;
    color: #F18F01;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 4rem;
    margin-top: 80px;

}
@media screen and (min-width: 800px) {
    .auth-form-container {
        padding: 1rem;
        border: 1px solid white;
        border-radius: 10px;
        margin: 0.5rem;
    }
} 

.label {
    text-align: left;
    padding: 0.25rem 0;
    color:black;
    font-size: 1.8rem;
    margin-left: 110px;
    text-decoration: none;
}

.register-form input {
    margin: 0.5rem 0;
    padding: 1rem;
    /* border: none; */
    border-radius: 10px;
    width: 70%;
    /* margin-left: 110px; */
}
.register-form input:focus{
    outline: none;
    background-color: #faf2e8;
}
.register-form input::placeholder{
    font-style: italic;
}
.submit-btn {
    border: none;
    font-size: 23px;
    background-color: #F18F01;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    width: 40%;
    margin-left: 17rem;
} 
.submit-btn:hover{
    background-color: #f8aa34;
}
.link-btn {
    background: none;
    color: white;
    text-decoration: underline;
}


.cover-container-displayz {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #F18F01;
}

.card-login-display {
    box-shadow: rgba(27, 27, 211, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 40px;
    position: relative;

}

.seller image {
    position: relative;
}

.card-login-display button {
    border: none;
    font-size: 23px;
    background-color: #F18F01;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    max-width: 20%;
}

.ct1 {
    display: flex;
    justify-content: space-around;
    width: 90%;
    /* border: 2px solid black; */
    margin:auto;
    position: relative;
    left: 15px;
}

.ct2 {
    display: flex;
    /* border: 2px solid black; */
    margin:auto;
    width: 90%;
    position: relative;
    left: 15px;
}

.ct3 {
    width: 30rem;
    /* border: 2px solid black; */
    position: relative;
    left: 60px;
}

.ct4 {
    display: flex;
    width: 90%;
    /* border: 2px solid black; */
    margin: auto;
    position: relative;
    left: 15px;
}

.ct5 {
    display: flex;
    width: 90%;
    /* border: 2px solid black; */
    margin:auto;
    position: relative;
    left: 15px;
} 
/* .ct6{
       border: 2px solid black;

} */

.same_size{
    position: relative;
    left: 4rem;
}
.texta1{
    border-radius: 10px;
    width: 50rem;
    position: relative;
    left: 4rem;
    margin-bottom: 20px;
}
.texta1:focus{
    outline: none;
    background-color: #faf2e8;
}
.texta1::placeholder{
    font-style: italic;
}
[for=houses]{
    position: relative;
    right: 3rem;
}

/* .display-cont{
    border:2px solid black
}

#f{
    border: black 2px dashed;
    
} */

#location{
    width: 85%;
}
#number_of_rooms{
    width: 59%;
    margin-left: 4.6rem;
    position: relative;
    bottom: 3px;
}

#image_url5{
    width:60%;
}
#price{
    width: 80%;
    
}

/* .ct7{
    border: 2px solid;
} */

#category{
    width: 64%;
    margin-left: 2.6rem;
}

[for=description]{
    position: relative;
    right: 3rem;
}

#image_url4{
width: 70%;
}
[for=image_url],[for=image_url2],[for=image_url2],[for=image_url3],[for=image_url4],[for=image_url5]{
   position: relative;
   right: 2.2rem;
}
[for=location]{
    position: relative;
    right: 1.4rem;
}
[for=category]{
    position: relative;
    left: 1.2rem;
}

.back{
    width: 20rem;
    padding: 1rem;
    color: white;
    font-family: 'Lato', sans-serif;
    border-radius: 10px;
    background-color: #F18F01;
    position: relative;
    left: 20rem;
}
.back:hover{
    background-color: #f8aa34;
}