.sellerpage-container {
  position: relative;
  max-width: 100%;
}

.image-1 {
  position: absolute;
  top: 2vh;
  left: 15vw;
  
}

.image-1 img {
  max-width: 70vw;
  max-height: 99vh;
}


.image-2 {
    position: absolute;
    top: 102vh;
    left: 25vw;
  
}

.image-3 {
  position: absolute;
  top: 102vh;
  left: 50vw;
}

.image-2 img {
  max-width: 23vw;
}

.image-3 img{
 max-width: 23vw;
}

.image-4 img {
  max-width: 23vw;
  
}

.image-4 {
  position: absolute;
  top: 102vh;
}

.image-5 img {
  max-width: 23vw;
}

.image-5 {
  position: absolute;
  top: 102vh;
  left: 75vw;
}

.description {
  position: absolute;
  top: 140vh;
  width: 60vw;
}

.seller-info {
  position: absolute;
  top: 145vh;
  left: 75vw;
  border-style: solid;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 10px 10px 10px;
}

.seller-info button {
  margin-top: 60px;
}

.location {
  position: absolute;
  top: 180vh;
}

.location iframe {
  max-width: 80%;
  height: 50vh;
}

.delete-btn {
  position: absolute;
  top: 230vh;
  left: 93vw;
}